/~$galmak+TSP.docx
/~$sztelés.docx
/community/__pycache__/convert.cpython-39.pyc
/community/__pycache__/nmi.cpython-39.pyc
/community/__pycache__/tsp.cpython-39.pyc
/community/.idea/other.xml
/community/dolphins_degree_sequence.dat
/community/dolphins_edge_list_0.dat
/community/dolphins_edge_list.dat
/community/dolphins_ip_communities.dat
/community/dolphins_x.dat
/community/dolphins.gml
/community/football_community.dat
/community/football_degree_sequence.dat
/community/football_edge_list_0.dat
/community/football_edge_list.dat
/community/football_ground_truth.dat
/community/football_ip_communities.dat
/community/football_x.dat
/community/football.dat
/community/football.gml
/community/footballdegree.dat
/community/karate_degree_sequence.dat
/community/karate_edge_list.dat
/community/karate_ground_truth.dat
/community/karate_ip_communities.dat
/community/karate_tsp_communities.dat
/community/karate_x.dat
/community/karate.dat
/community/karate.gml
/community/lesmis_degree_sequence.dat
/community/lesmis_edge_list_0.dat
/community/lesmis_edge_list.dat
/community/lesmis_ip_communities.dat
/community/lesmis_x.dat
/community/lesmis.gml
/community/network1_community.dat
/community/network1_degree_sequence.dat
/community/network1_edge_list.dat
/community/network1_ground_truth.dat
/community/network1_ip.dat
/community/network1.dat
/community/network2_community.dat
/community/network2_degree_sequence.dat
/community/network2_edge_list.dat
/community/network2.dat
/community/network3_community.dat
/community/network3_degree_sequence.dat
/community/network3_edge_list.dat
/community/network3.dat
/community/network4_community.dat
/community/network4_degree_sequence.dat
/community/network4_edge_list.dat
/community/network4.dat
/community/polbooks_degree_sequence.dat
/community/polbooks_degree_sequence1.dat
/community/polbooks_edge_list_0.dat
/community/polbooks_edge_list.dat
/community/polbooks_edge_list1.dat
/community/polbooks_ground_truth.dat
/community/polbooks_ip_communities.dat
/community/polbooks_x.dat
/community/polbooks.dat
/community/polbooks.gml
/tartalomjegyzek.md
/data/network1_ip_.dat
/community/karate_tsp_communities_ls.dat
/community/karate_tsp_communities_sa.dat
/community/lesmis_tsp_communities_ls.dat
/community/lesmis_tsp_communities_sa.dat
/community/polbooks_tsp_communities_ls.dat
/community/polbooks_tsp_communities_sa.dat
/community/dolphins_tsp_communities_ls.dat
/community/dolphins_tsp_communities_sa.dat
/community/football_tsp_communities_ls.dat
/community/football_tsp_communities_sa.dat
